.header {
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  padding-top: 3vh;
  padding-right: 5vw;
  background-color: rgba(247, 245, 209, 0.8);
}

.header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header li {
  float: left;
  margin-left: 4vw;
  font-size: 1.5em;
  font-weight: 200;
  color: rgba(44, 149, 133, 1);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 75vh;
  flex-grow: 1;
  align-items: center;
  margin-top: 3vh;
  overflow: auto;
}

.profileImg {
  height: 40vh;
  width: 40vw;
  border-radius: 70%;
}

.textField {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  margin-top: 5vh;
  width: 100%;
  height: 6vh;
  background-color: rgba(247, 245, 209, 0.8);
}
