.header {
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  padding-top: 3vh;
  padding-right: 5vw;
  background-color: rgba(247, 245, 209, 0.8);
}

.header li {
  margin-left: 4vw;
  font-size: 1.5em;
  font-weight: 200;
  color: rgba(44, 149, 133, 1);
}

/*flex-grow: 1, flex: 1*/
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  width: 100vw;
  height: 75vh;
  overflow: auto
}

.content li {
  margin-top: 5vh;
  margin-right: 3vw;
  font-size: 2.5em;
  color: rgba(247, 245, 209, 0.8);
}

.profileImg {
  display: flex;
  align-self: flex-start;
  height: 20em;
  width: 20em;
  border-radius: 60%;
}

.textField {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5vw;
  width: 50%;
}

.skillSet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  padding: 10vh 2vw 4vh 2vw;
  margin-left: 2vw;
  width: 38vw;
  height: 80vh;
  font-size: 0.5em;
  background-color: rgba(201, 182, 117, 0.35);
  overflow: auto;
}

.skillSet h2 {
  font-style: normal;
  font-weight: 600;
}

.skillSet ul {
  list-style-type: none;
}

.skillSet li {
  float: none;
  font-size: 1.3em;
  margin: 1vh 0;
  padding: 0;
}

.icon {
  font-size: 3em;
}

.footer {
  margin-top: 5vh;
  width: 100%;
  height: 6vh;
  background-color: rgba(247, 245, 209, 0.8);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(247, 245, 209, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(247, 245, 209, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(201, 182, 117, 0);
}
