@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
  color: #F7F5D1;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1em;
  display: flex;
  font-family: "Raleway", Verdana, sans-serif;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(44,149,133,0.77),
    rgba(2,82,70,0.77)
  ), url("../assets/mountain_range_pixabay.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  height: 100%;
}


h1 {
  font-size: 2.3em;
  font-weight: 600;
  color: #F6E7AE;
  margin-bottom: 2vh;
}

h2 {
  font-size: 1.8em;
  font-style: italic;
  font-weight: 400;
  color: #F6E7AE;
  margin-bottom: 2vh;
}

p {
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}
